<a href="https://colab.research.google.com/github/bmetcalfe/Google_NP/blob/main/LSTM_Tier_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
pip install import_from_github_com

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting import_from_github_com
  Downloading import_from_github_com-0.1-py3-none-any.whl (4.3 kB)
Installing collected packages: import-from-github-com
Successfully installed import-from-github-com-0.1

In [28]:
pip install git+https://github.com/bmetcalfe/Google_NP.git@main

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/bmetcalfe/Google_NP.git@main
  Cloning https://github.com/bmetcalfe/Google_NP.git (to revision main) to /tmp/pip-req-build-lzfwgukq
  Running command git clone -q https://github.com/bmetcalfe/Google_NP.git /tmp/pip-req-build-lzfwgukq
ERROR: File "setup.py" not found for legacy project git+https://github.com/bmetcalfe/Google_NP.git@main.

In [24]:
import os
import sys
import yaml
import pandas as pd
from pathlib import Path
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

pip install git+https://github.com/bmetcalfe/Google_NP@main

#import preprocess, train, inference, interpret

SyntaxError: ignored

In [18]:
dir

In [17]:
!ls

sample_data

In [29]:
data_location = "https://raw.githubusercontent.com/bmetcalfe/Google_NP/main/"
df = pd.read_csv(data_location + 'T1_DailyData.csv')
df.head(3)

        Date   ALL   EA   EU   ME  NA  SA  SP   WA
0  12/4/2019  1143  142  224  340  25  86  76  250
1  12/5/2019  1145  142  224  340  25  86  76  252
2  12/6/2019  1144  142  224  340  25  86  76  251